<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.1.7100.0">
	<connectionStrings>
		<add connectionString="Data Source=tcp:aquarion.database.windows.net,1433;Initial Catalog=aquarion-dev2;User Id=chateaux@aquarion.database.windows.net;Password=mSXCQPtRNF6d38" dbType="SqlAzure" name="Sitefinity" />
	</connectionStrings>
</dataConfig>