<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.1.7100.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="B84F6C1FA1C8579A6C3CD755EA9EAF7F1F74D07A71A33A98B930342FA365C7BE378E2106205BD631704C33C34C0DE4A6FCC62BA93DA31D38A90CA7A727E3BF60" decryptionKey="EF76A353D0799AB97EC075272AED5B65CB1513A34C16642F02BE52FF32D2B31F" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="678C147BFFD072E5C7AA5C96E2E88FA21ED3391538E3721B8B4C44FA96D06DE7" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="678C147BFFD072E5C7AA5C96E2E88FA21ED3391538E3721B8B4C44FA96D06DE7" realm="http://localhost" />
	</relyingParties>
</securityConfig>